<!doctype html>
<html>
<head>
	{% block head %}
		<meta charset="utf-8">
		<title>{% block title %}{{ title }}{% endblock title %}</title>
		<link rel="stylesheet" type="text/css" href="{{ theme.path }}css/normalize.css">
		<link rel="stylesheet" type="text/css" href="{{ theme.path }}css/main.css">
	{% endblock head %}
</head>
<body>
<div id="page">
	<nav class="main">
		<header class="main">
			{% block header %}
				<h1><a href="{{ rootpath }}index.html">Strange</a></h1>
			{% endblock header %}
		</header>
		{% include "_menu.html" %}
	</nav>

	<section class="main">
		{% block main %}{{ body }}{% endblock main %}
	</section>
</div>
</body>
</html>
