* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-family: "Roboto", "Droid Sans", "DejaVu Sans", Verdana, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5rem;
	color: #333333;
	background-color: #fcfcfc;
	margin: 0;
	padding: 0;
}

/*
 *	Layout
 */

#page {
	width: 100%;
}

nav.main {
	width: 100%;
}

section.main {
	width: 100%;
}

@media(min-width: 960px) {
	#page {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-wrap: wrap;
	}

	nav.main {
		flex: 1 1 25%;
		height: 100vh;
		overflow: auto;
	}

	section.main {
		flex: 3 1 74%;
		height: 100vh;
		padding: 1rem;
		overflow: auto;
	}
}

/*
 *	Sidebar
 */

header.main {
	padding: 1rem;
	text-align: center;
}

nav.main {
	padding: 1rem;
	border-right: 1px solid #c66;
}

nav.main a {
	display: block;
	color: #333;
	text-decoration: none;
}

ul.main-menu {
	list-style: none;
	padding: 0;
}

ul.main-menu > li {
	border-bottom: 1px solid #ccc;
}

ul.main-menu > li.sub a {
	padding-left: 2rem;
}

ul.main-menu > li:first-child {
	border-top: 1px solid #ccc;
}

ul.main-menu > li > a {
	display: block;
	padding: 0.5rem 1rem;
	width: 100%;
	height: 100%;
}

ul.main-menu > li.active a {
	background-color: #c66;
}

ul.main-menu > li.active a,
ul.main-menu > li a:hover
{
	color: #fff;
}

ul.main-menu > li > a:hover {
	background-color: #a33;
}

/*
 *	Main body
 */

section.main {
	padding: 1rem;
}

section.main article {
	max-width: 60rem;
	margin: 0 auto;
}

section.main h1,
section.main h2,
section.main h3
{
	line-height: 3rem;
}


section.main h2,
section.main h3,
section.main h4
{
	margin-top: 3rem;
}

section.main a {
	color: #990000;
	text-decoration: none;
}

section.main a:hover {
	text-decoration: underline;
}

p code {
	background-color: #eee;
	padding: 0 0.2em;
}

pre {
	border: 1px solid #ccc;
	padding: 1rem;
	overflow: auto;
}
